body {
  margin-top: 30px;
}
.navbar-inverse .navbar-brand {
  font-family: 'Luckiest Guy', arial, cursive;
  font-size: 36px;
  color: #ff3061;
  padding-top: 20px;
}

.logo {
  width: 350px;
  height: auto;
  border-radius: 5px;
}


#calendarimage {
  width: 50px;
  height: auto;
}

.SBlogo {
  width: 750px;
  height: auto;
}

.logo_header {
  width: 45px;
  height: auto;
  border-radius: 5px;
  padding: 2px;
  vertical-align: middle;
}

h1 {
  font-family: 'Luckiest Guy', arial, cursive;
  font-size: 36px;
  color: #000000;
  padding-top: 20px;
  }


h2 {
  font-family: 'Luckiest Guy', arial, cursive;
  font-size: 18px;
  color: #000000;
  padding-top: 0px;
  padding-left: 5px;
  padding-bottom: 0px;
  vertical-align: middle;
  display: block;
  }

h3 {
  font-family: 'Luckiest Guy', arial, cursive;
  font-size: 16px;
  color: #000000;
  padding-top: 0px;
  padding-left: 5px;
  padding-bottom: 0px;
  }

.twitterheading {
  font-family: 'Luckiest Guy', arial, cursive;
  font-size: 36px;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px; 
}


  
.displayed {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  }

iframe {
  display: block;
  margin-left: auto;    
  margin-right: auto;

  }

  .instagram_logo {
    margin-left: 0px;
    padding: 0px;
    width: 200px;
  }
